body,
ul,
li,
ol,
input,
span,
h1,
h2,
h3,
h4,
h5,
h6,
img {
	margin: 0;
	padding: 0;
}
body{
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
}
.clearfloat:after{
	display: block;
	clear: both;
	content:"";
	visibility: hidden;
	height: 0px;
}
.clearfloat{
	zoom:1;
}
.shoppingcart{
	width: 141px;
	height: 36px;
	margin: 25px 65px 0 0;
	float: right;
}
a:hover{
	color: #c81623;
}
a{
	text-decoration: none;
	color: #666;
}
li{
	list-style: none;
}
