*{
	margin: 0px;
	padding: 0px;
	font-family: Arial,Verdana,"宋体";
}
.header{
	height: 30px;
	background: #F1F1F1;
	font-size: 12px;
}
.wapper{
	width: 1210px;
	height: 30px;
	margin: 0 auto;
	background: red;
}
.region{
	height: 30px;
	width: 97px;
	float: left;
	background:yellow;
}
.fr{
	width: 797px;
	height: 30px;
	float: right;
	background-color: blue;
}
