/* 顶部广告*/
.top-ad{
	width: 100%;
	height: 80px;
	background-color: #f52f50;
	position: relative;
	
}
.top-ad-wapper{
	width: 1210px;
	margin: 0 auto;
	position: relative;
}
.top-ad-cancel{
	display: block;
	width: 19px;
	height: 19px;
	position: absolute;
	background:url(../PIC/5507956eN735de046.png) 0px 0px no-repeat;
	right:10px;
	top: 5px;
}
.top-ad-cancel:hover{
	background:url(../PIC/5507956eN735de046.png) 0px -19px no-repeat;
}
/* 搜素 */
.w{
	width: 1210px;
	margin: 0 auto;

}
.logo{
	width: 362px;
	height: 60px;
	position: relative;
	padding:20px 0;
	float: left;
}
.gif{
	position: absolute;
	top: 0px;
	left: 170px;
}
.search-text{
	width: 538px;
	height: 40px;
	margin-top:25px;
	float: left;
}
.search-text>input{
	width: 446px;
	height: 24px;
	line-height: 24px;
	padding:4px 0 4px 4px; 
	border-color:#B61D1D; 
	border-style: solid;
	outline: none;
	font-size: 14px;
	font-family: "microsoft yahei";
	color:rgb(153, 153, 153);
	float: left;
}
.search-text>span{
	display:inline-block;
	float: left;
	height: 36px;
	line-height: 36px;
	width: 82px;
	background-color:#B61D1D; 
	text-align: center;
	font-size:16px;
	color: #fff;
	font-family: "microsoft yahei";
}
.shoppingcart>div{
	position: relative;
	border: 1px solid #dfdfdf;
	width: 74px;
	height: 34px;
	padding: 0 28px 0 36px;
	line-height: 34px;
	text-align: center;
	background: #F9F9F9;
}

.shoppingcart>div>i{
	position: absolute;
	font-style: normal;
	display: block;
}
.shoppingcart-icon{
	display: block;
	width: 18px;
	height: 16px;
	background: url(../PIC/1.png) 0 -58px no-repeat;
	top: 9px;
	left: 15px;
}
.shoppingcart-num{
	width: 12px;
	height: 12px;
	padding: 1px 2px;
	background-color: #c81623;
	font-size: 12px;
	border-radius:7px 7px 7px 0; 
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color: #fff;
	top: -5px;
	left: 100px;
	font-family: Arial,Verdana,"宋体";
}
.shoppingcart-arrow{
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
    top: 11px;
    left:120px;
}
.hot-word{
	width: 518px;
	float: left;
}
.hot-word>a{
	margin-right: 10px;
	color: #666;
	text-decoration: none;
	line-height: 20px;
}
.hot-word>a:first-of-type{
color: #c81623;
}
