        .header{
          border-bottom:1px solid #ebebeb;
          width:1250px;
          height:25px;
        }
        .h_weather{
          float:left;
          width:300px;
          font-size:12px;
        }
        .w_air{
          color:#38F;
          font-weight:bold;
        }
        .w_sun{
          margin-top:2px;
          width:16px;
          height:16px;
        }
        .h_menus{
           float:right;
           width:400px;
        }
        .mnav{
          color:black;
          margin-left:10px;
          font-size:12px;
          font-weight:bold;
        }
        .mainbody{
          float:left;
          width: 1250px;
          height:470px;
          margin-top:80px;
        }
        .m_block{
          float:center;
          width:650px;
          height:300px;
          background-color:white;
          margin-left:300px;
        }
        .logo{
          height:150px;
          padding-left:120px;
        }
        .search {
          margin-top:50px;

        }
        .s_text{
          width:510px;
          height:24px;
          padding:8px 7px;
          border:1px;
          border-color:#b8b8b8;
          border-style:solid;
          border-right:none;
        }
        .s_bu{
          width:120px;
          height:42px;
          padding:0;
          margin-left:-8px;
          font-size:16px;
          background-color:#38f;
          border-style:none;
          color:white;
        }
        .footer{
          height:30px;
          text-align:center;
          color:#999;
          font-size:12px;
        }
         .f_nav{
          color:#999;
          margin-left:10px;
          font-size:12px;
          text-decoration:none;
        }
        input.s_text:hover{
          border-color:#848282;
        }
        input.s_bu:hover{
          background-color:#2868c8;
        }