*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

body{
	font:12px/150% Arial,Verdana,"\5b8b\4f53";
	color:#666;
}

li{
	list-style: none;
}

a{
	text-decoration:none;
}

.clearfix:after{
	content:'';
	display:block;
	clear:both;
}