/*nav中下拉菜单*/
.dropdown-box{
	position:relative;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
} 

.dropdown-box:hover{
	background:#fff;
	border-color:#ddd;
}

.dropdown-box .dropdown-menu{
	display:none;
	position:absolute;
	margin-top:-1px;
	left:-1px;
	top:100%;
	border:1px solid #ddd;
	background:#fff; 
}

.dropdown-box:hover .dropdown-menu{
	display:block;
	z-index:1;	
}

.dropdown-box:hover .hider{
	opacity:1;	
}

.dropdown-box:hover .icon-arrow{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
} 

.hider {
    height: 4px;
    width: 100%;
    position: absolute;
    top:100%;
    left:0px;
    background: #fff;
    opacity:0;
    margin-top: -1px;
    z-index:2;
}

.icon-arrow{
	display:inline-block;
	overflow:hidden;
	margin-top:6px;
	margin-right:3px;
	font:15px/15px consolas;
	height:7px;
	cursor:default; 
	transition:all 0.2s;
	-webkit-transition:all 0.2s；	
}

.icon-arrow s{
	position:relative;
	top:-7px;
	text-decoration:none;
}

/*shopping－cart中下拉框*/
.dropdown-btn{
	position:relative;
	border:1px solid #DFDFDF;
	background: #F9F9F9;
}

.dropdown-btn:hover,
.dropdown-btn:hover .dropdown-layer{
	z-index:1;
	background:#fff;
	border:1px solid #ddd;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.dropdown-btn:hover .dropdown-layer{
	position:absolute;
	top:100%;
	margin-top:1px;
	right:-1px;
}

.dropdown-btn:hover .space{
	position:absolute;
	height:7px;
	width:100%;
	top:100%;
	margin-top:-4px;
	z-index:2;
	background:#fff;
}