*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

body{
	font-size:12px;
}

li{
	list-style: none;
}

a{
	text-decoration:none;
}

#top-bar{
	background:#f1f1f1;
	width:100%;
	height:30px;
	line-height:30px;
}

#top-bar .bar-container{
	background:#f1f1f1;
	width:1210px;
	margin:0 auto;
}

#top-bar .bar-container .nav{
	float:right;
}

#top-bar .bar-container .nav li{
	display:inline-block;
}

#top-bar .bar-container .nav .tab-login{
	margin-right:10px;
}

#top-bar .bar-container .nav li .link-login{
	color:#666;	
}

#top-bar .bar-container .nav li .link-regist{
	color:#C81623;
}

#top-bar .bar-container .nav .spacer{
	background:#ddd;
	width:1px;
	height:12px;
	margin-top:9px;
}

#top-bar .bar-container .nav li .tab{
	width:64px;
	height:30px;
	padding:0px 8px;
}

#top-bar .bar-container .nav li .tab a{
	color: #666;
    text-decoration: none;
}
