#header{
	background:#f1f1f1;
	font-size:12px;
	line-height:30px;
	width:100%;
}

.layout{
	width:1210px;
	margin:0 auto;
}

.address{
	float:left;
	padding:0px 10px;
}

.nav{
	float:right;
	font-size:0;/*除去子元素inline-block的缝隙*/
}

.address p{
	display:inline-block;
	line-height:30px;
	height:30px;
	font-size:12px;
}

.address-choice{
	width:303px;
}

.address .address-choice li{
	float:left;
	width:60px;
	text-align:center;
}

.address .address-choice li .selected{
	background:#C81623;
	color:#fff;
}

.address .address-choice li a{
	display:inline-block;
	color:#666;
	width:36px;
	height:24px;
	line-height:24px;
}

.address .address-choice li a:hover{
	color:#c81623;
	background:#f1f1f1;
}

.nav>li{
	display:inline-block;
	padding:0px 10px; 
	height:30px;
	font-size:0;
	vertical-align:top;
}

.nav li a{
	display:inline-block;
	color:#666;	
	font-size:12px;
	height:30px;
}

.nav li a:hover{
	color:#c81623;
}

.nav .tab-login,
.nav .tab-login a{
	margin-right:6px;
}

.myjd-drop-info{
	width:272px;
}

.myjd-drop-info .user-info{
	font-size:12px;
	padding:10px 15px;
	overflow:hidden;/*形成BFC*/
}

.myjd-drop-info .user-info .user-pic{
	float:left;
	width:60px;
	height:60px;
}

.myjd-drop-info .user-info .user-pic img{
	/*行内元素默认是和父元素的基线对齐的,而基线又和父元素底边有间隔,改变img元素的display属性，让其脱离行内元素性质*/
	display:block;
	border-radius:50%;
}

.myjd-drop-info .user-info .user-prompt{
	float:left;
	/*形成BFC*/
	overflow:hidden;
	width:180px;
	height:60px;
	padding-left:10px;
}

.myjd-drop-info .user-info .user-prompt p span{
	margin:0px 10px;
}

.myjd-drop-info .list-info{
	/*形成BFC*/
	overflow:hidden;
}

.myjd-drop-info .list-info1,.myjd-drop-info .list-info2{
	float:left;
	width:135px;
	height:100px;
	padding-left:30px;
}

.myjd-drop-info .list-info1 li,.myjd-drop-info .list-info2 li{
	line-height:25px;
	height:25px;
}

.myjd-drop-info .list-info1 li a,.myjd-drop-info .list-info2 li a{
	/*行内元素默认是和父元素的基线对齐的,而基线又和父元素底边有间隔这个间隔和font-size,font-family有关。
	所以设置vertical-align: bottom,把元素的底端与父元素字体的底端对齐。*/
	vertical-align: bottom;
}

.nav li .phone{
	float:left;
	position:relative;
	top:5px;
	width:15px;
	height:20px;
	background:url(../img/icon.png);
	background-repeat:no-repeat;
	margin-right:2px;
}

.nav .phone-jd:hover .phone{
	background:url(../img/icon.png) 0 -25px;
}

.nav .phone-jd:hover .phone-jd-drop-info{
	background:url(../img/qcode.png) 0 0px;
	width:252px;
	height:197px;
}

.nav .attention-jd:hover .attention-jd-drop-info img{
	display:block;
	width:86px;
	height:97px;
}

.nav .custom-service:hover .custom-service-drop-info{
	width:174px;
	height:187px;
}

.nav .custom-service:hover .line-spacer{
	border:1px dotted #ddd;
}

.nav .custom-service:hover .business-item,
.nav .custom-service:hover .client-item,
.nav .custom-service:hover .custom-service-item{
	font-size:12px;
	width:80px;
	height:24px;
	line-height:24px;	
	padding-left:10px;
}

.nav .custom-service:hover .business-item,
.nav .custom-service:hover .client-item{
	margin-top:5px;
	font-weight:bold;
}

.nav .custom-service:hover .custom-service-item a{
	line-height:24px;
	height:24px;
	vertical-align:top;
}

.nav .custom-service:hover .custom-service-item{
	display:inline-block;
}

.nav .website-nav:hover .website-nav-drop-info{
	width:1214px;
	height:190px;
	left:auto;
	right:-1px;
	padding: 20px 0 16px;
}

.nav .website-nav:hover .website-nav-drop-info .fore1{
	float:left;
	padding-left:20px;
	width:367px;
	height:150px;
}

.nav .website-nav:hover .website-nav-drop-info .fore2,
.nav .website-nav:hover .website-nav-drop-info .fore3,
.nav .website-nav:hover .website-nav-drop-info .fore4{
	float:left;
	padding-left:20px;
	width:280px;
	height:150px;
	border-left:1px solid #ddd;
}

.nav .website-nav:hover .website-nav-drop-info dt{
	font-size:14px;
	font-weight:700;
	margin-bottom:6px;
}

.nav .website-nav:hover .website-nav-drop-info .item{
	float:left;
	width:86px;
	height:24px;
	line-height:24px;
}

.nav .website-nav:hover .website-nav-drop-info .item a{
	height:24px;
	line-height:24px;
}

.nav .spacer{
	background:#ddd;
	width:1px;
	height:10px;
	margin-top:10px;
	padding:0px 0px;
}

.nav li .link-login{
	color:#666;	
}

.nav li .link-regist{
	color:#C81623;
}

#top-banner{
	background:#A81213;
}

#top-banner .layout{
	position: relative;
}

#top-banner .layout img{
	vertical-align:bottom;
}

#top-banner .layout a{
	display:inline-block;
	position:absolute;
	right: 5px;
	top: 5px;
	background:url("../img/close.png");
	height: 19px;
	width: 19px;
}

#top-banner .layout a:hover{
	background:url("../img/close.png") 19px 19px;
}

#search-bar .layout .logo-christmas{
	position: relative;
	float:left;
	width:362px;
	height:100px;
	padding:20px 0px;
}

#search-bar .layout .logo-christmas img:nth-child(2){
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	margin-left:-103px;
}

#search-bar .layout .search{
	position: relative;
	float:left;
	margin-top:25px;
	font-size:0px;/*去除子元素input和button之间的空隙*/
}

#search-bar .layout .search-input{
	width:446px;
	height:36px;
	line-height:24px;
	padding:4px 2px;
	border-width:2px 0 2px 2px;
	border-color:#B61D1D;
	border-style:solid;
	outline:0px;
	font-size:14px;
	font-family:"microsoft yahei";
	cursor:auto;
	color:#666666;
}

#search-bar .layout .search-button{
	width:82px;
	height:36px;
	line-height:36px;
	font-size:16px;
	font-family:"microsoft yahei";
	color:#fff;
	border:0px;
	background:#B61D1D;
	cursor:pointer;
	vertical-align:bottom;/*使button和input底部对齐*/
}

#search-bar .layout .shopping-cart{
	float:right;
	margin-top:25px;
	margin-right:65px;
	width:141px;
	height:36px;
	line-height:36px;
	vertical-align:middle;
}

#search-bar .layout .shopping-cart a{
	color: #666;
}

#search-bar .layout .shopping-cart a:hover{
	color: #C81623;
}

#search-bar .layout .shopping-cart .cart-icon{
	display:inline-block;
	width:18px;
	height:16px;
	vertical-align:middle;
	margin-left:18px;
	margin-right:5px;
	background:url(../img/icon.png) 0 -58px;
}

#search-bar .layout .shopping-cart .arrow-icon{
	display:inline-block;
	width:7px;
	margin-left:15px;
	color: #999;
}

#search-bar .layout .shopping-cart .count-icon{
	position: absolute;
	top: -4px;
    left: 104px;
	min-width:16px;
	padding:1px 2px;
	line-height:12px;
	border-radius:7px 7px 7px 0px;
	background-color: #c81623;
	text-align: center;
	color:#fff;
}

#search-bar .layout .shopping-cart .cart-detail{
	display:none;
	width:310px;
	height:71px;
	padding:10px 15px 10px 45px;
	font-size:0px;/*消除inline-block之间的空隙*/
}


#search-bar .layout .shopping-cart:hover .cart-detail{
	display: block;
}

#search-bar .layout .shopping-cart:hover .cart-detail b{
	display:inline-block;
	background:url(../img/nogoods.png);
	width:57px;
	height:49px;
	vertical-align:bottom;	
}

#search-bar .layout .shopping-cart:hover .cart-detail span{
	display:inline-block;
	font-size:12px;
	width:191px;
	height:49px;
	line-height:49px;
	color: #999;
	text-align:center;
	vertical-align:bottom;
}

#search-bar .layout .hotwords{
	float:left;
	height:20px;
	line-height:20px;
}

#search-bar .layout .hotwords a{ 
	margin-right:5px;
	color:#666
}

#search-bar .layout .hotwords a:hover,
#search-bar .layout .hotwords a:nth-child(1){ 
	color:#C81623;
}

#navigation-bar{
    border-bottom: 2px solid #B1191A;
}

#navigation-bar .layout .categorys{
	float:left;
	position: relative;
	width:210px;
	height:44px;
	background: #B1191A;
	overflow: visible;
}

#navigation-bar .layout .categorys .newyear-catehead{
	position: absolute;
	left:50%;
	transform:translate3d(-50%,-50%,0);
	background:url(../img/newyear-catehead.jpg);
	width:238px;
	height:22px;
}

#navigation-bar .layout .categorys .category-title a{
	display: block;
	width:210px;
	height:44px;
	padding:0px 10px;
	font-size:15px;
	color:#fff;
	line-height:52px;
}

#navigation-bar .layout .categorys .category-inner{
	margin-top: 2px;
}

#navigation-bar .layout .categorys .category-inner .category-item{
	position: relative;
	background:#C81623;
	height:31px;
	width:210px;
	line-height:31px;
	border-left:1px solid #b61d1d;	
}

#navigation-bar .layout .categorys .category-inner .category-item:hover{
	background:#f7f7f7;	
}

#navigation-bar .layout .categorys .category-inner .category-item a{
	padding: 0px 10px;
	height:31px;
	color:#fff;
	font-size:14px;
	font-weight:400;
}

#navigation-bar .layout .categorys .category-inner .category-item:hover a{
	color:#b61d1d
}

#navigation-bar .layout .categorys .category-inner .category-item:hover i{
	color: transparent;
}

#navigation-bar .layout .categorys .category-inner .category-item i{
	position: absolute;
	width:4px;
	height:14px;
	color:#fff; 
	right:14px; 
}

#navigation-bar .layout .navigation-items{
	float:left 
}

#navigation-bar .layout .navigation-items li{
	float:left;
	height:44px;
	width:70px;
	line-height:44px;
	text-align:center;
}

#navigation-bar .layout .navigation-items li:nth-child(1),
#navigation-bar .layout .navigation-items li:nth-child(2),
#navigation-bar .layout .navigation-items li:nth-child(4){
	width:85px;
}

#navigation-bar .layout .navigation-items li a{
	font-size:15px;
	color:#333;
}

#navigation-bar .layout .navigation-items li a:hover{
	color:#C81623;
}

#navigation-bar .layout>img{
	float:right;
}