@charset "utf-8";
.cm-w-1210 {
	width: 1210px;
	margin: 0 auto;
}

.cm-w-94 {
	width: 94px;
}

.cm-fl {
	float: left;
}

.cm-fr {
	float: right;
}


/*hide*/

.cm-hide {
	display: none;
}


/*pading*/

.cm-pl-17 {
	padding-left: 17px;
}


/*超链接*/

.cm-a a {
	color: #666;
}

.cm-a a:hover {
	color: #C81623;
}


/*挡板*/

.cm-baffle {
	background-color: #fff;
	height: 1px;
	position: absolute;
	margin-top: -1px;
}


/*头部-下拉曾*/

.cm-drop-down {
	position: absolute;
	border: 1px solid #ddd;
	background-color: #fff;
	z-index: 2;
}


/*头部二维码*/

.cm-qr-code {
	width: 250px;
	height: 195px;
	background: url(img/header-menu-phonejd.png) no-repeat;
}


/*导航列表*/

.cm-nav-list {
	margin: 17px 0;
	padding: 0 0 0 20px;
	border-right: 1px solid #ddd;
	display: inline-block;
}

.cm-nav-list dt {
	color: #666;
	font-size: 14px;
	font-weight: bold;
}

.cm-nav-list dd {
	margin: 0;
}

.cm-nav-list li {
	float: left;
	line-height: 24px;
	width: 85px;
}

.cm-nav-list.l1 {
	width: 346px;
}

.cm-nav-list.l2 {
	padding-left: 17px;
	width: 259px;
}

.cm-nav-list.l3 {
	padding-left: 17px;
	width: 259px;
	border-right: 0 !important;
}


/*icon*/

.cm-icon-arrows {
	position: absolute;
	font: 15px/15px consolas;
	overflow: hidden;
	margin-top: 12px;
	margin-left: 2px;
	*margin-top: 5px;
	transition: transform .1s ease-in 0s;
	-webkit-transition: -webkit-transform .1s ease-in 0s;
	height: 7px;
	cursor: default;
}

.cm-icon-arrows s {
	position: relative;
	top: -7px;
	text-decoration: none;
}

.cm-icon-line {
	color: #ddd;
	padding: 0 !important;
}

.cm-icon-phone {
	position: absolute;
	width: 15px;
	height: 20px;
	margin-top: 5px;
	background: url(img/header-menu-bg.png) no-repeat;
	*margin-top: -2px;
}

.cm-icon-phone:hover {
	background: url(img/header-menu-bg.png) no-repeat 0 -25px;
}

.cm-icon-shop {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url(img/header-menu-bg.png) no-repeat -1px -58px;
	margin-left: 20px;
	margin-top: 9px;
}

.cm-icon-nogoods{
	float: left;
	width: 57px;
	height: 49px;
	background: url(img/shop-cart-nogoods.png) no-repeat;
}
