@charset "utf-8";
.menu-l:hover {
	background-color: #fff;
	border: solid #ddd;
	border-width: 0 1px;
}

.menu-l:hover .cm-drop-down {
	display: block;
}

.header .menu-r li.on-dd:hover {
	background-color: #fff;
	border: solid #ddd;
	border-width: 0 1px;
}

.header .menu-r li.on-dd:hover .cm-drop-down {
	display: block;
}

.header .menu-r li.on-dd:hover .cm-icon-phone {
	background: url(img/header-menu-bg.png) no-repeat 0 -25px;
}


.banner .shop-cart:hover {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	border-bottom: 0;
}
.banner .shop-cart:hover .cm-drop-down{
	display: block;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
