@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

html,
body,
.buddha {
	height: 100%;
	width: 100%;
	background: #fff;
	font: 12px/1.5 arial;
	padding: 0;
}


.clearfix{zoom:1;}
.clearfix:after{display:block; content:'clear'; clear:both; line-height:0; visibility:hidden;}
