@charset "utf-8";

/*头部*/

.header {
	background-color: #f1f1f1;
	height: 30px;
	line-height: 30px;
}

.header .menu {
	margin: 0 auto;
	background-color: #f1f1f1;
	height: 30px;
}


/*头部-左菜单*/

.header .menu-l {}

.header .menu-l-address {
	display: block;
	background-color: #fff;
	border: solid #ddd;
	border-width: 0 1px;
	border-bottom-color: #fff;
	padding-left: 9px;
	padding-right: 25px;
}

.header .menu-l-address:hover .cm-icon-arrows {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.header .menu-l-city {
	position: absolute;
	width: 311px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.header .menu-l-city-list {
	width: 100%;
	padding: 10px 0 10px 10px;
}

.header .menu-l-city li {
	float: left;
	line-height: 24px;
	width: 60px;
	padding: 2px 0;
}

.header .menu-l-city a.selected {
	background-color: #C81623;
	color: #fff;
}

.header .menu-l-city a.selected:hover {
	background-color: #C81623;
}

.header .menu-l-city a {
	float: left;
	padding: 0 8px;
}

.header .menu-l-city a:hover {
	background-color: #f4f4f4;
}


/*头部-右菜单*/

.header .menu-r {
	margin-right: 11px;
}

.header .menu-r li:hover .cm-icon-arrows {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.header .menu-r li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 11px;
	padding-right: 11px;
}

.header .menu-r .register {
	color: #C81623;
}

.header .menu-r li.on-dd {
	background-color: #fff;
	border: solid #ddd;
	border-width: 0 1px;
	border-bottom-color: #fff;
	padding-right: 20px;
	margin: 0 -3px;
}

.header .menu-r-myjd {
	width: 270px;
	margin-left: -12px;
	
}

.header .menu-r-myjd .cm-baffle {
	width: 79px;
}

.header .menu-r-phonejd {
	width: 250px;
	margin-left: -12px;
}

.header .menu-r-phonejd .cm-baffle {
	width: 96px;
}

.header .menu-r-attentionjd {
	width: 79px;
	margin-left: -12px;
}

.header .menu-r-attentionjd .cm-baffle {
	width: 79px;
}

.header .menu-r-service {
	width: 163px;
	margin-left: -12px;
}

.header .menu-r-service .cm-baffle {
	width: 79px;
}


.header .menu-r-nav {
	width: 1200px;
	margin-left: -1133px;
}

.header .menu-r-nav .cm-baffle {
	width: 79px;
}





.content {
	height: 1000px;
}