
/*头部导航条*/
#header{
	background: #F1F1F1;
	line-height:30px;
	height:30px;
	position:relative;
	z-index: 10;
}

#header .address{
	float:left;
}

#header .address .drop{
	width: 90px;
	padding-left: 10px;
	position: relative;
	top:1px;
	border-left:1px solid #F1F1F1;
	border-right:1px solid #F1F1F1
}



/*手机icon*/
#header .phone-jd{
	padding-left:25px;
}

#header .phone-jd span{
	display: block;
	height: 20px;
	width: 15px;
	position: absolute;
	top:5px;
	left:5px;
	overflow: hidden;
	background: url(../image/icon.png) 0 0 no-repeat;
}

/*送至：地址*/

#header  .drop-address{
	position: absolute;
    border:1px solid #ddd;
    top:30px;
	width:310px;
    padding:8px 0;
    background:#fff;	
}
#header .drop-address li {
	padding:0 9px;
}

#header .drop-address a{
	display: inline-block;   
    line-height: 2em;
    padding:0 8px;
}

#header .selected {	
	background: #C81623;
	color:#fff;
}

#header .drop-address-sp {
	display: inline-block;
	margin-left: -1em;
}



/*我的京东*/
#header .myJD-drop {
	width: 270px;
	position: absolute;
}

#header .myJD-drop img{
    width: 60px;
	border-radius: 50% 50%;	
	position: absolute;
	left: 15px;
	top:10px;
}

#header .login{
	display: inline-block;
	margin:10px 0 0 -20px;
	font-weight: bold;
}

#header .message {
	margin: -5px 0 0 -5px;

}

#header .message>a {
	display: inline-block;
	margin:0 10px;
}

#header .myJD-drop ul {
	margin: 15px 0 15px 15px;
}

#header .myJD-drop ul li{
	width: 120px;
	text-align: left;
	line-height: 2.3em;
}

/*手机京东*/

#header #phone-jd:hover span{
	background: url(../image/icon.png) 0 -25px no-repeat;
}
#header .phone-jd-drop {
	position: absolute;
	width: 250px;
	height: 195px;
    background: url(../image/JDClientServerQRCode.png) 0 0 no-repeat;

}

#header .link {
	position: relative;
}


#header .app-link1 {
	display: block;
	width:100px;
	height: 20px;
	
}

#header .app-link2 {
	display: inline-block;
	width:50px;
	height: 44px;

}

#header .jd-client {
	position: absolute;
	left: 90px;
	top:10px; 
}


#header .jd-client-ios {
	position: absolute;
	left: 90px;
	top:45px; 
}

#header .jd-client-android {
	position: absolute;
	left: 145px;
	top:45px; 
}
#header .jd-client-ipad {
	position: absolute;
	left: 195px;
	top:45px; 
}

#header .jd-wallet {
	position: absolute;
	left: 90px;
	top: 105px;
}

#header .jd-wallet-ios {
	position: absolute;
	left: 90px;
	top: 140px;
}

#header .jd-wallet-android {
	position: absolute;
	left: 145px;
	top: 140px;
}

/*关注京东*/

#header .jd-microshop {
	position: absolute;
	width:81px;
	height: 110px;
	background: url(../image/JDMicroShopQRCode.jpg) 0 5px no-repeat;
}

/*客户服务*/

#header .customer-service {
	text-align: left;
	position: absolute;
	width:170px;
	height: 160px;
}


#header .customer-service dt,dd{
	float: left;	
	height: 2em;	
	margin-left: 10px;
}

#header .customer-service dd {
	display: inline-block;
	margin-right: 25px;
}

#header .customer-service dt {
    font-weight: bold;	
    width:170px;
}

#header .customer {
	padding-bottom: 8px;
	border-bottom: 1px dotted #ddd;
}

/*网站导航*/

#header .web-nav {
	font:12px/2.5em Arial,Verdana,"\5b8b\4f53";
	text-align: left;
	position: absolute;
	left:-1127px;
	width: 1210px;
	height:185px;
}

#header .web-nav dt,dd{
	float: left;	
}

#header .web-nav dd{
	width:75px;
}
#header .web-nav dl {
	width:268px;
	float: left;
	margin:1.5em 5px 0 5px;
	border-right: 1px solid #ddd;
}

#header .web-nav dt {
	width:270px;
	margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
 	
}

#header .web-nav .sp-theme {
	width:360px;
}

#header .web-nav .sp-theme dt{
	width:360px;
}

#header #more {
	border-right: none;
}

/*主干*/
.ad {
	width:100%;
	height:80px;
	background-color: #ff173e;
}

#ad {
	position: relative;
	display: block;
	width:1210px;
	height: 80px;
}

a.quit {
    display: block;
    width: 20px;
    height: 19px;
    position: absolute;
    right: 10px;
    top: 5px;
    background: url(../image/quit.gif) 0 0 no-repeat;
}

a.quit:hover {
	background-position: 0 -19px;
}

/*搜索栏*/
.jd-logo {
	display: block;
	float: left;
    margin: 20px 0;
    width: 270px;
    height: 60px;
    background: url(../image/JDlogo.png) 0 0 no-repeat;
}
.search {
	position: relative;
	margin: 30px 70px 0 70px;
	width: 538px;
	float: left;
}
.search input {
	width:456px;
	height: 30px;
	border:2px solid #b61d1d;
	font:14px/1.5em "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
	padding-left: 4px;
	color: #333;
}

.search li {
	margin:5px;
	font:12px/1.5em Arial,Verdana,"\5b8b\4f53";
}

.search>a {
	text-align: center;
	font-size: 16px;
	color: #fff!important;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
	height: 34px;
	line-height: 32px;
	background: #b61d1d;
	font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}

/*购物车*/
#shopping-trolley{
	float: left;
    position: relative;
    width: 140px;
    height: 40px;
    margin: 30px 70px 0 50px;
}
#shopping-trolley .my-shopping-trolley{
    width: 140px;
    height: 35px;
    border: 1px solid #ddd;
    background: #F9F9F9;
}

#shopping-trolley .shopping-trolley-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 8px 5px 0 20px;
	background: url(../image/icon.png) 0 -57px no-repeat;
}

#shopping-trolley a {
	display: inline-block;
    position: relative;
    top: -6px;
}

#shopping-trolley .no-goods{
	display: inline-block;
	width: 16px;
	height: 14px;
	padding: 0 1px 2px 0;
	background: #B61D1D;
	color: #fff;
	border-radius: 50% 50% 50% 0;
	position: relative;
	top: -20px;
	left: 2px;
	text-align: center;
}


.shopping-trolley-drop {
	display: none;
	width:310px;
	height: 70px;
	border:1px solid #ddd;
	position: absolute;
	right:-2px;
	background:#fff;
	z-index: 3;
}

.settleup-nogoods {
	display: inline-block;
	width: 57px;
	height: 49px;
	position: absolute;
	top: 10px;
	left: 45px;
	background: url(../image/settleup-nogoods.png) 0 0 no-repeat;
}

.hint {
	display: block;
	position: absolute;
	right: 20px;
	top: 25px;
	color: #999;
}


/*全部商品分类*/
.goods-nav {
	width:100%;
	height:45px;
	border-bottom: 2px solid #b61d1d;
	font: 400 15px/44px "microsoft yahei";
}

.all-goods {
	float:left;
	width:210px;
	height: 45px;
	
	line-height: 45px;
	background:#b61d1d;
}

.all-goods>a {
	color:#fff;
	display: inline-block;
	margin-left:10px; 
}

.all-goods>a:hover {
	color:#fff;
}

.goods-nav li{
	float: left;
	margin: 0 20px;

}

.goods-nav li>a {
	color:#333;
}

.goods-nav li>a:hover {
	color:#b61d1d;
}

.w-goods {
	display: inline-block;
    width: 140px;
    height: 44px;
    position: absolute;
    right: 0;
    background: url(../image/w-goods.jpg) 0 0 no-repeat;
}

/*banner*/

.banner>a{
	display: inline-block;
	height: 470px;
	width: 100%;
	background: url(../image/container-background.jpg) -291px 0 no-repeat;
}

/*商品主菜单*/
.primary-menu {
	position: absolute;
	top:-475px;
	width: 210px;
	background-color: #C81623;
}
#container .primary-menu>li {
	height: 30px;
	color: #fff;
	text-align: left;
	position: relative;
	font: 400 14px/30px "microsoft yahei";
	padding-left:10px;	
	border-left: 1px solid #C81623;
}
#container .primary-menu>li>a {
    text-align: left;
    display: inline-block;
    color: #fff;

}

#container .primary-menu>li>span{
	color: #fff;
}

.primary-menu>li>i {
	position: absolute;
	z-index: 1;
	top: 9px;
	right: 14px;
	width: 4px;
	height: 14px;
	font: 400 9px/14px consolas;
}
#container .primary-menu>.last-menu{
	border-bottom: 1px solid #C81623;
}

.primary-menu-drop {
	position: absolute;
	top: 0;
	left: 209px;
	width: 1000px;
	border-right: 1px solid #C81623;
	border-bottom:  1px solid #C81623;
	min-height: 450px;
	background-color: #F7F7F7;
	font: 400 12px/2em Arial,Verdana,"\5b8b\4f53";
}

.second-level-menu {
	width: 715px;
}
.second-level-menu>ul {
    margin: 20px 0 0 20px;
}

.second-level-menu>ul li {
	float:left;
	margin-right: 10px;
}
.second-level-menu>ul a {
	display: inline-block;
	height: 24px;
	background-color: #7C7171;
	color: #fff; 
	padding:0 7px;

}
.second-level-menu>ul>li>i {
	display: inline-block;
	width:25px;
	height: 2em;
	background-color:#5c5251; 
	color: #fff;
	font: 400 9px/24px consolas;
	cursor: pointer;
}

.second-level-menu>dl>dd {
	border-bottom: 1px solid #eee;
	width:620px;
	margin-left: 105px;
}

.second-level-menu>dl>dt{
    float: left;
}
.second-level-menu>dl>dt>a {
	font-weight: bold;
	
}
