@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,img,div,dl,dt,dd,input{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body{
	font-size: 12px;

}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666666;
}
span{
	color: #dddddd;
}
#header-nav{
	width: 1920px;
	height: 30px;
	background: #F1F1F1;
	margin: 0 auto;
}
.nav-left{
	width: 80px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 353px;
}
.arrow{
	background: url(../images/arrow.gif) right 2px no-repeat;
}
.phone{
	position: relative;
	top: 5px;
	left: 3px;
	margin-left: -7px;
}
.nav-right{
	width: 825px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 342px;
}
.a-red{
	color: #c81623;
}
.hover-red:hover{
	color: #c81623;
}
.nav-right li{
	float: left;
	text-align: center;
    margin-left: 10px;
}
