@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-12-15 19:47:24
 * @version $Id$
 */
/*html,body{
	height: 100%;
	width:100%;
	background-color: #fff;
	font:12px/1.5 Arial, Verdana, "\5b8b\4f53";
}*/
html,body,ul,li{
	margin: 0;
	padding: 0;
}
div{
	border-sizing: border-box;
}
li{
	list-style-type: none;
}
a{
	color: #6a6a6a;
	text-decoration: none;
}
a:hover{
	color: #cb1623;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.long-1210{
	width: 1210px;
	margin: 0 auto;
}
.space{
	position: absolute;
	width: 106px;
	height: 2px;
	background-color: #fff;
    top: -1px;
}
/*倒三角*/
.arrow{
	display: inline-block;
    width: 19px;
    height: 10px;
    background: url(../img/trigle.png) no-repeat 0px -20px;
    transition: transform 0.3s;
}
.nav-right .drop .phone{
	display: inline-block;
	width: 15px;
	height: 20px;
	background: url(../img/header-menu-bg.png) no-repeat 0px 0px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: -7px; 
}
