@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-12-21 23:01:05
 * @version $Id$
 */
#nav .good-box,#nav .good-list{
	width: 210px;
}
/*#content .content-pic{
    display: inline-block;
}
*/
#nav .good-list{
    padding-top: 2px;
    border-bottom: 1px solid #cb1623;
    border-left: 1px solid #cb1623;
}
#nav .good-kl{
	position: relative;
	height: 31px;
    width: 200px;
    line-height: 31px;
    background-color: #cb1623;
    font-size: 14px;
    padding-left: 10px
}
#nav .good-kind a{
	color: #fff;
}
.arrow-l{
	position: absolute;
    font: 12px/12px consolas;
    color: #f7f7f7;
    right: 20px;
    top: 9px;
}
#nav .good-kind:hover .good-kl{
    background-color: #f7f7f7;
    color: #cb1623;
}
/*#nav .good-kl:hover a{
    color: #cb1623;
    background-color: #f7f7f7;
}*/
#nav .good-kind:hover a{
    color: #cb1623;
}
#content .content-pic{
    display: inline-block;
    width: 729px;
    height: 454px;
    padding-left: 220px;
    padding-top: 10px;
    vertical-align: top;
}
