@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-12-21 23:01:05
 * @version $Id$
 */
.content{
    height: 465px;
    background-color: #fff;
    float: left;
}
#content .good-box,#content .good-list{
	width: 210px;
}
#content .good-list{
    width: 210px;
    height: 454px;
    border-bottom: 1px solid #cb1623;
    border-left: 1px solid #cb1623;
    float: left;
    margin-left: -100%;
}
#content .good-kl{
	position: relative;
	height: 31px;
    width: 200px;
    line-height: 31px;
    background-color: #cb1623;
    font-size: 14px;
    padding-left: 10px
}
#content .good-kind a{
	color: #fff;
}
.arrow-l{
	position: absolute;
    font: 12px/12px consolas;
    color: #f7f7f7;
    right: 20px;
    top: 9px;
}
#content .good-kind:hover .good-kl{
    background-color: #f7f7f7;
    color: #cb1623;
}
/*#nav .good-kl:hover a{
    color: #cb1623;
    background-color: #f7f7f7;
}*/
#content .good-kind:hover a{
    color: #cb1623;
}
#content .content-pic{
    height: 455px;
    padding: 10px 220px 0 220px;
    vertical-align: top;
}
#content .content-news{
    height: 454px;
    width: 250px;
    border: 1px solid #dfdfdf;
    padding-top: 10px;
    float: left;
    margin-left: -252px;
}
