@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-12-15 19:47:24
 * @version $Id$
 */
/*头部*/
#header{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #f1f1f1;
}
#header .address{
	width: 106px;
	text-align: center;
}
#nav-left,.nav-right a,.menu-city a{
	font-size: 13px;
}
/*包裹三角的框*/
.icon{
	padding-left:9px;
	padding-right: 25px;
}
/*倒三角*/
.arrow{
	display: inline-block;
	position: absolute;
    width: 19px;
    height: 20px;
    background: url(../img/trigle.png) no-repeat 0px 8px;
    top: 2px;
}

/*顶部的左边*/
#nav-left{
	position: relative;
	height: 30px;
	float: left;
}
/*顶部的右边*/
.nav-right{
	float: right;
	height: 30px;
}
/*头部右边的列表*/
.nav-right >li{
    display: inline-block;
}
/**/

.nav-right a,.menu-city a{
    text-decoration: none;
}

.line{
	color: #ddd;
/*	padding: 0 !important;*/
}
.menu-city li{
  list-style-type: none;
  float: left;
  width: 40px;
}
.menu-city{
	width: 100%;
	border: 1px solid #ddd;
	height: 100%;
	padding: 0 10px 10px;
}
#menu-city{
	width: 300px;
	position: absolute;
	margin-left: -10px;
	display: none;
}
.city-bj{
	border: 1px solid #ddd;
	background-color: #c81623;
	height: 25px;
}
