@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-12-15 19:47:24
 * @version $Id$
 */
/*头部*/
#header{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #f1f1f1;
}
#header .address{
	width: 106px;
	text-align: center;
}
.address-left,.nav-right a,.menu-city a{
	font-size: 13px;
}
/*倒三角*/
.arrow{
	display: inline-block;
	position: absolute;
    width: 19px;
    height: 10px;
    background: url(../img/trigle.png) no-repeat 0px -20px;
    transition: transform 0.3s;
    top: 10px;
}

/*顶部的左边*/
.address-left{
	position: relative;
	height: 30px;
	float: left;
}
/*顶部的右边*/
.nav-right{
	float: right;
}
/*头部右边的列表*/
.nav-right >li{
	position: relative;
	padding: 0 3px;
    display: inline-block;
}

.line{
	color: #ddd;
/*	padding: 0 !important;*/
}
.menu-city li{
    float: left;
    width: 39px;
    display: inline-block;
    margin: 3px 5px;
    padding: 5px 5px;
    line-height: 1;
}

.menu-city{
    border: 1px solid #ddd;
	position: absolute;
	width: 315px;
	display: none;
}
.selected{
	background-color: #c81623;
	color: #fff;
}
#header .drop{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;	
}
#header .address-left:hover{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #fff;
}
#header .address-left:hover .arrow{
    transform: rotate(180deg);
}
#header .address-left:hover .menu-city{
	display: block;
}
.menu-city li:hover{
    background-color: #f1f1f1;
}
.menu-city li:hover a{
	color: #cb1623;
}
/*导航右边*/
#nav-right .drop{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;	
}
#nav-right 