.area1,.area2,.area3,.area4,.area5{
   	     	float: left;
   	     	list-style-type: none;
   	     	font-family: "microsoft yahei";
   	    }
        .area1 li:hover,.area2 li:hover,.area3 li:hover,.area4 li:hover,.area5 li:hover{
            background-color: #ff0000;
        }
        .address{
            text-decoration: none;
            font-family: "microsoft yahei"
        }