#nav{
    height: 30px;
    background-color: #f1f1f1;
}
.nav-address{
    float: left;
    font-family: "microsoft yahei";
    padding: 8px;
}
.nav-list{
    float: right;
    margin: 0;
    padding: 0;
}    
.nav-list li{
    float: left;
    list-style-type: none;
    padding: 8px;
    /*border-left: 3px solid #ccc;*/
    font-family: "microsoft yahei";	
}
.list1,.list2,.list3,.list4,.list5,.list6,.list7,.list8,.list9,.list10,.list-icon{
    text-decoration: none;
}
.address{
    text-decoration: none;
}
.phone{
    background:url(jd2015img.png) 0 -25 no-repeat;
    top:5px;
    left:7px;
    width:15px;
    height:20px;
}

