
.fl a{
	padding: 0 8px;
}
.content-list a:hover{
	background-color: #f4f4f4;
}
.header{
	background-color: #f1f1f1;
	line-height: 30px;
}
.header>.w{
	height: 30px;
	background-color: #f1f1f1;
}
.fl{
	float: left;
}
.content-list{
	width: 300px;
	padding: 10px 0 10px 10px;
}
.content-list li{
	float: left;
	width: 60px;
	padding: 2px 0;
}
#city a{
	background-color: #c81623;
	color: #fff;
}
/*头部下拉菜单*/ 
.ci-right{
  	top: 12px;
    right: 8px;
    height: 7px;
    overflow: hidden;
    font: 15px/15px consolas;
    color: #6A6A6A;
}
.dorpdown i{
	display: block;
	position: absolute;
}
.ci-right s{
	position: relative;
	top: -7px;
	text-decoration: none;
}
.dorpdown:hover s{
	top: 0px;
	transition: all 100ms ease-in;
}
/*fr*/
.fr{
	float: right;
}
.fr li{
	float: left;
}
.dt {
	padding: 0 8px;
}
.fr .icon-line{
	width: 1px;
    height: 10px;
    margin-top: 9px;
    padding: 0 !important;
    background: #ddd;
    overflow: hidden;
}
.ttbar-login{
	font-family: "verdana,simsun";
	color: #c81623;
	padding: 0 0 0 8px;
}
.ttbar-myjd .dorpdown-layer{
	width: 270px;
	padding-bottom: 10px;
}
.menu-myjd-p{
	padding: 10px 19px;
}
.header .menu-myjd-p .user-pic{
	position: absolute;
}
.header .menu-myjd-p .user-login{
	margin-left: 69px;
	font-weight: bold;
	line-height: 24px;
}
.header .menu-myjd-p .user-msg{
	padding-left: 70px;
	line-height: 24px;
}
.header .menu-myjd-p .user-msg .icon-line{
	margin: 0 11px 0 9px;
	color: #666;
	background-color: #fff;
}
.header .menu-myjd-p img{
	border-radius: 50%;
}
.ttbar-myjd .dd-spacer{
	width: 81px;
}
.menu-myjd-l{
	padding: 5px 0 10px 19px;
}
.menu-myjd-l li{
	float: left;
	padding: 0;
	width: 120px;
	line-height: 24px;
	position: relative;
}
/*apps*/
#ttbar-apps{
	padding: 0 25px;
}
#ttbar-apps> .icon-phone{
	position: absolute;
	top: 5px;
	width: 15px;
	height: 19px;
	margin-left: -19px;
	background: url(../img/phone.png) 0 0 no-repeat;
}
#ttbar-apps:hover .icon-phone{
	background: url(../img/phone.png) 0 -25px no-repeat;
}
#ttbar-apps .dd-spacer{
	width: 98px;
}
.ttbar-apps-main{
	background: url(../img/apps.png);
	position: relative;
	width: 250px;
	height: 195px;
	overflow: hidden;
}
.ttbar-apps-main a{
	display: inline-block;
	position: absolute;
	opacity: 0;
}
.ttbar-apps-main .link1{
	left: 99px;
	top: 3px;
}
.ttbar-apps-main .link2{
    top: 100px;
    left: 98px;
}
.ttbar-apps-main .link3{
    top: 45px;
    left: 96px;
    width: 58px;
    line-height: 22px;
}
.ttbar-apps-main .link4{
    top: 46px;
    left: 146px;
    width: 60px;
    line-height: 22px;
}
.ttbar-apps-main .link5{
    top: 46px;
    left: 210px;
     width: 49px;
    line-height: 22px;
}
.ttbar-apps-main .link6{
    top: 146px;
    left: 98px;
     width: 47px;
    line-height: 14px;
}
.ttbar-apps-main .link7{
    top: 146px;
    left: 151px;
     width: 58px;
    line-height: 14px;
}
/*关注*/
.ttbar-atte .dd-spacer{
	width: 82px;
}
.ttbar-atte .dorpdown-layer{
    padding-bottom: 5px;
}
/*client*/
.ttbar-sev .dorpdown-layer{
	width: 170px;
	padding-bottom: 5px;
}
.ttbar-sev .dd-spacer{
	width: 81px;
}
.ttbar-sev .item-client{
	font-weight: 700;
    padding-left: 10px;
}
.ttbar-sev .item-business{
	border-top: 1px dotted #ccc;
	font-weight: 700;
    padding-left: 10px;
}
.ttbar-sev .item{
	display: inline-block;
	width: 70px;
	padding-left: 10px;
}
/*nav*/
.ttbar-nav .dorpdown-layer{
	width: 1208px;
	left: -1128px;
	padding: 20px 0 16px;
}
.ttbar-nav .dd-spacer{
	position: absolute;
	left: 1127px;
	width: 81px;
}
.ttbar-nav dl{
	padding-left: 20px;
	float: left;
	border-left: 1px solid #ddd;
	width: 259px;
}
.ttbar-nav dt{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 6px;
}
.ttbar-nav .fore1{
	width: 347px;
	border-left: none;
}
.ttbar-nav .item{
	float: left;
	width:86px;
}
/*banner*/
.banner{
	width: 100%;
	height: 80px;
	margin: 0px auto 0px;
	background-color: #ff1844;
}
.banner-w{
	position: relative;
}
.banner-close{
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(../img/close.png) 0px 0px no-repeat;
}
.banner-close:hover{
	background: url(../img/close.png) 0px -19px no-repeat;
}
/*search*/
.search{
	line-height: 100px;
}
.search .logo-sale{
	position: relative;
	float: left;
	width:362px;
	height: 60px;
	padding: 20px 0;
}
.search .logo-sale .logo{
	display: block;
	width: 270px;
	height: 60px;
	background: url(../img/logo-2015.png) 0 0 no-repeat;
}
.search .logo-sale .logo-right{
	position: absolute;
	top: 10px;
	left: 168px;
	width: 180px;
	height: 80px;
	overflow: hidden;
	background: url(../img/logo-xmas.gif) 0 0 no-repeat;
}
.search-text{
	width: auto;
	position: relative;
	float: left;
	margin-top: 25px;
}
.search-text>.form {
	width: auto;
	height: 36px;
}
.search-text>.form .text{
	float: left;
	width: 446px;
	height: 24px;
	line-height: 24px;
	padding: 4px;
	margin-bottom: 4px;
	border: solid #b61d1d;
	border-width: 2px 0 2px 2px;
	outline: 0;
	font: 14px "microsoft yahei";
	color: rgb(153,153,153);
}
.search-text>.form button{
	float: left;
    width: 82px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}
.settle-up{
	float: right;
    z-index: 11;
    height: 36px;
    margin: 26px 65px 0 0;
}
.search .cm-icon{
	position: relative;
	cursor: default;
	width: 75px;
    height: 34px;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    border: 1px solid #ddd;
}
.search .cm-icon i{
	display: block;
}
.search .cm-icon .ci-l{
	top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url(../img/phone.png) 0 -58px no-repeat;
}
.search .cm-icon .ci-r{
	top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
}
.search .cm-icon .ci-count{
	position: absolute;
	top: -4px;
	left: 104px;
	display: inline-block;
	padding: 1px 2px;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	background-color: #c81623;
	border-radius: 7px 7px 7px 0;
	min-width: 12px;
	text-align: center;
} 
.search .cm-icon .my-goods a{
	display: block;
	width: 80px;
}
.search .dorpdown .dd-spacer{
	width: 139px;
	left: 169px;
}
.search .dorpdown .prompt{
	padding: 10px 15px;
}
.search .dorpdown-layer-r .nogoods{
	height: 49px;
	padding-left: 30px;
	line-height: 49px;
	color: #999;
}
.search .dorpdown-layer-r .nogoods b{
	float: left;
	width: 56px;
	height: 49px;
	background-image: url(../img/settleup-nogoods.png);
}
.search .dorpdown-layer-r{
	background: #fff;
	border: 1px solid #ddd;
	line-height: 24px;
	position: absolute;
	right: -1px;
	width: 308px;
	display: none;
	z-index: 2;
}
.search .dorpdown:hover .dorpdown-layer-r{
	display: block;
}
.search .cm-icon:hover{
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.search .cm-icon:hover .dorpdown-layer-r{
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.search .hot-words{
	float: left;
	/*width: 518px;*/
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.search .hot-words a{
	float: left;
	margin-right: 10px;
}
.search .hot-words .style-red{
	color: #c81623;
}
/*nav*/
.nav{
	height: 46px;
}
.nav>.w{
	height: 44px;
}
.nav .category{
	height: 47px;
	float: left;
	position: relative;
	width: 210px;
	overflow: visible;
	background: #b1191a;
	z-index: 3;
}
.nav .category-dt a{
	background: url(../img/category-bg.jpg) no-repeat;
	height: 51px;
	width: 190px;
	padding: 0 10px;
	line-height: 56px;
	margin-bottom: -6px;
	top: -6px;
	position: relative;
	overflow: hidden;
	display: block;
	font: 400 15px/60px "microsoft yahei";
	color: #fff;
}
.nav .nav-items{
	display: inline-block;
}
.nav .nav-items li{
	display: inline-block;
	position: relative;
	padding: 0 20px;
}
.nav .nav-items a{
    height: 44px;
    text-align: center;
    font: 400 15px/44px "microsoft yahei";
    color: #333;
} 
.nav .nav-items a:hover{
	color: #c81623;
}
.nav .nav-items i{
	position: absolute;
	top: 0;
	background: url(../img/new.jpeg) 0 0 no-repeat;
	width: 38px;
	height: 30px;
}
.nav .treasure{
	float: right;
	width: 140px;
	height: 40px;
	display: block;
	margin-top: 2px;
	cursor: pointer;
	background: url(../img/treasure.jpg) 0 0 no-repeat;
}
/*category-dd*/
.nav .category-dd{
	height: 466px;
	background: #c81623;
	margin-top: 2px;
}
.nav .dd-dorpdown{
	height: 31px;
	padding: 0 10px;
	line-height: 31px;
	position: relative;
	border-left: 1px solid #c81623;
}
.nav .dd-dorpdown h3 a{
	color: #fff;
	float: left;
	font: 14px "microsoft yahei";
}
.nav .dd-dorpdown h3{
	padding: 6px;
}
.nav .dd-dorpdown .c-dd-s{
	color: #f7f7f7;
	width: 14px;
	height: 31px;
    font: 400 9px/14px consolas;
    position: absolute;
    top: 9px;
    right: 14px;
}
.nav .dd-dorpdown:hover{
	background: #f7f7f7;
}
.nav .dd-dorpdown:hover .clr a{
	color: #b61d1d;
}
.nav .dd-dorpdown:hover .c-dd-s{
	top: 0;
	left: 200px;
	background: #f7f7f7;
}
.nav .dd-dorpdown-layer{
	display: none;
	/*display: block;*/
	width: 999px;
	height: 465px;
	border: 1px solid #c81623;
	background: #f7f7f7;
	position: absolute;
	left: 209px;
	overflow: hidden;
	top: -1px;
}
.nav .dd-dorpdown:hover .dd-dorpdown-layer{
	display: block;
}
.nav .item-channels{
	float: left;
	width: 790px;
	padding: 20px 0 0 20px;
	height: 24px;
	overflow: hidden;
}
.nav .item-channels .channels a{
	float: left;
	display: inline-block;
	padding: 0 0 0 8px;
	margin-right: 10px;
	line-height: 24px;
	background: #7c7171;
	color: #fff;
	white-space: nowrap;
}
.nav .item-channels .channels a:hover{
	background: #c81623;
}
.nav .item-channels .channels i{
	display: inline-block;
	margin-left: 8px;
	width: 23px;
	height: 24px;
	text-align: center;
	cursor: pointer;
    font: 400 9px/14px consolas;
    background: #5c5251;
    line-height: 24px;
}
.nav .subitems{
	float: left;
	width: 790px;
	padding: 6px 0  6px 20px;
	min-height: 409px;
}
.nav .subitems dl{
	width: 100%;
	overflow: hidden;
	line-height: 2em;
}
.nav .subitems dt{
	position: relative;
	float: left;
	width: 54px;
	padding: 8px 30px 0 0;
	text-align: right;
	font-weight: 700;
}
.nav .subitems dt i{
	position: absolute;
	top: 13px;
	right: 18px;
	width: 4px;
	height: 14px;
    font: 400 9px/14px consolas;
}
.nav .subitems .fore dd{
	border-top: none;
}
.nav .subitems dd{
	float: left;
	padding: 6px 0;
	width: 620px;
	border-top: 1px solid #eee;
}
.nav .subitems dd a{
	float: left;
	padding: 0 8px;
	margin: 4px 0;
	line-height: 16px;
	height: 16px;
	border-left: 1px solid #e0e0e0;
	white-space: nowrap;
}
.nav .item-brands{
	float: right;
	width: 168px;
	margin: 19px 20px 20px 0;
}
.nav .item-brands a{
	margin: 1px 0 0 1px;
	display: inline;
	float: right;
}
.nav .item-promotions{
	float: right;
	width: 168px;
	display: inline;
	margin-right: 20px;
	overflow: auto;
}
.nav .item-promotions a{
	display: block;
	margin-bottom: 1px;
}
/*banner-xmas c-b-line*/
.c-b-line{
	min-width: 1210px;
	height: 5px;
	position: relative;
	top: -4px;
	margin-bottom: -4px;
	background: url(../img/bg-line.jpg) repeat-x;
}
.banner-xmas{
	position: relative;
}
.banner-xmas-bg{
	background: url(../img/xmax-bg.jpg) no-repeat center top;
	height: 469px;
	width: 100%;
	cursor: pointer;
	position: absolute;
	z-index: 1;
}
/*focus*/
.focus{
	width: 1210px;
	margin: 0 auto;
}
.focus>.focus-ad{
	float: left;
	height: 466px;
	width: 1210px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.focus>.focus-ad>.ad-c{
	width: 730px;
	height: 466px;
	cursor: pointer;
	margin: 12px 0 0 220px;
	background: url(../img/ad0.jpg) no-repeat;
}
.focus>.focus-ad .but-l{
	left: 220px;
}
.focus>.focus-ad .but-r{
	right: 260px;
}
.focus>.focus-ad .but-page ul{
	position: absolute;
	top: 440px;
	left: 210px;
	width: 750px;
	text-align: center;
	z-index: 3;
}
.focus>.focus-ad .but-page li:nth-child(1){
	background: #b61b1f;
}
.focus>.focus-ad .but-page li{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin: 0 2px;
	background: #3e3e3e;
	border-radius: 50%;
	cursor: pointer;
	color: #fff;
}
.focus>.focus-ad .but-page li:hover{
	background: #b61b1f;
}
.focus>.focus-extra{
	position: relative;
	right: 0;
	margin: 0 auto;
	z-index: 1;
}
.focus>.focus-extra>.news{
	width: 248px;
	height: 200px;
	position: absolute;
	top: 12px;
	right: 0;
	border: 1px solid #e4e4e4;
	border-bottom: 0;
	background: rgb(255,255,255);
}
.focus>.focus-extra .mt{
	padding: 0 15px;
	border-bottom: 1px dotted #e8e8e7;
	height: 43px;
	line-height: 43px;
}
.focus>.focus-extra .mt h2{
	float: left;
	font-size: 16px;
}
.focus>.focus-extra .mt>.extra{
	float: right;
	font-family: "consolas";
	color: #666;
}
.focus>.focus-extra .mc{
	height: 140px;
	padding: 8px 0 0 15px;
}
.focus>.focus-extra .mc li{
	width: 210px;
	height: 27px;
	line-height: 27px;
	overflow: hidden;
}
.focus>.focus-extra .mc li span{
	font-weight: 700;
	margin-right: 5px;
}
.focus>.focus-extra .life-serv{
	/*float: right;*/
	position: absolute;
	right: 0;
	width: 248px;
	height: 250px;
	top: 213px;
	border: 1px solid #e4e4e4;
	background: rgb(255,255,255);
	overflow: hidden;
}
.focus .life-serv>.mc ul{
	position: relative;
	width: 260px;
	height: 209px;
}
.focus .life-serv>.mc li{
	float: left;
	width: 62px;
	height: 68px;
	border-right: 1px solid #e8e8e7;
	border-bottom: 1px solid #e8e8e7;
	overflow: hidden;
	position: relative;
}
.focus .life-serv>.mc li a{
	display: block;
	width: 62px;
	padding-top: 41px;
	line-height: 28px;
	text-align: center;
}
.focus .life-serv #mc-bottom{
	padding: 0;
}
.focus .life-serv #mc-bottom li span{
	font-weight: 100;
}
.focus .life-serv>.mc i{
	position: absolute;
	top: 13px;
	left: 18px;
	width: 25px;
	height: 25px;
	display: block;
	background: url(../img/icon.png) 0 0 no-repeat;
}
.focus .life-serv>.mc .ci-top1{
	background: url(../img/ci-top1.png) no-repeat;
	width: 13px;
	height: 13px;
	top: 0;
	left: 50px;
}
.focus .life-serv>.mc .ci-top2{
	background: url(../img/ci-top2.png) no-repeat;
	width: 13px;
	height: 13px;
	top: 0;
	left: 47px;
}
.life-serv #fore2{
	background: url(../img/icon.png) 0 -25px no-repeat;
}
.life-serv #fore3{
	background: url(../img/icon.png) 0 -50px no-repeat;
}
.life-serv #fore4{
	background: url(../img/icon.png) 0 -75px no-repeat;
}
.life-serv #fore5{
	background: url(../img/icon.png) 0 -100px no-repeat;
}
.life-serv #fore6{
	background: url(../img/icon.png) 0 -125px no-repeat;
}
.life-serv #fore7{
	background: url(../img/icon.png) 0 -150px no-repeat;
}
.life-serv #fore8{
	background: url(../img/icon.png) 0 -175px no-repeat;
}
.life-serv #fore9{
	background: url(../img/icon.png) 0 -200px no-repeat;
}
.life-serv #fore10{
	background: url(../img/icon.png) 0 -225px no-repeat;
}
.life-serv #fore11{
	background: url(../img/icon.png) 0 -250px no-repeat;
}
.life-serv #fore12{
	background: url(../img/icon.png) 0 -275px no-repeat;
}
/*lazy-fn*/
#lazy-todays{
	/*width: 1210px;*/
	/*float: left;*/
	height: 164px;
	margin: 10px 0 20px;
	cursor: pointer;
}
#lazy-todays>.watch-box{
	position: relative;
	float: left;
	width: 210px;
	height: 151px;
	background: url(../img/homebg.png) 0 -136px no-repeat;
}
#lazy-todays>.watch-box .clock-dial {
    border: 7px solid #fff;
    width: 42px;
    height: 42px;
    margin-top: 31px;
    margin-left: 72px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
#lazy-todays>.watch-box .clock-pin {
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    margin-top: 2.5px;
    width: 5px;
    height: 20px;
    background: #fff;
    border-radius: 2px;
    z-index: 2;
}
#lazy-todays>.watch-box .min-pin {
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    margin-top: 2px;
    width: 5px;
    height: 20px;
    background: #fff;
    border-radius: 2px;
    animation: css3-watch 20s steps(60, end) infinite;
    transform-origin: 2.5px 19.5px;
}
#lazy-todays>.watch-box .clock-oorigin {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -3.5px;
    margin-top: -3.5px;
    background: #fff;
    z-index: 3;
}
#lazy-todays>.watch-box .sec-pin {
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -6px;
    width: 5px;
    height: 28px;
    animation: css3-watch 12s linear infinite;
    transform-origin: 2.7px 27px;
    z-index: 4;
}

#lazy-todays>.watch-box .pin {
    width: 5px;
    height: 5px;
    background: #605454;
    position: absolute;
    border-radius: 50px;
}
@-webkit-keyframes css3-watch {
	to {
		transform: rotate(360deg);
	}
}
#lazy-todays>.slider-main{
	float: right;
	height: 151px;
	position: relative;
}
#lazy-todays>.slider-main>.but-r{
	right: 0;
}
#lazy-todays>.slider-main li{
	float: left;
	display: inline-block;
	border-right: 1px solid #fff;
	width: 248px;
	margin-right: 1px;
}
#lazy-todays>.slider-main .no-border{
	border-right: none;
}
#guess-like{
	height: 289px;
}
#guess-like>.guess-you{
	height: 269px;
	margin-bottom: 20px;
}
#guess-like>.guess-you>.mt{
	height: 36px;
}
#guess-like>.guess-you>.mt i{
	background-position: 0 -60px;
}
#guess-like>.guess-you>.mt h2{
	float: left;
	display: inline;
	line-height: 30px;
	font-size: 20px;
	padding-right: 228px;
	background: url(../img/homebg.png) 85px -91px no-repeat;
}
#guess-like>.guess-you>.mt>.extra{
	display: inline;
	float: right;
	height: 18px;
	padding-right: 25px;
	margin-top: 8px;
	background: url(../img/homebg.png) -310px -5px no-repeat;
}
#guess-like>.guess-you>.mt>.extra:hover{
	background-position: -310px -29px;
}
#guess-like>.guess-you>.mc{
	height: 232px;
	border: 1px solid #ededed;
	border-top: 0;
}
#guess-like>.guess-you>.mc>.spacer{
	position: relative;
	height: 1px;
	line-height: 0;
	background-color: #d1d1d1;
}
#guess-like>.guess-you>.mc>.spacer i{
	width: 365px;
	height: 5px;
	position: absolute;
	right: -1px;
	top: -2px;
	background: #b72323 url(../img/homebg.png) 0 -124px no-repeat;
}
#guess-like>.guess-you>.mc ul{
	height: 210px;
	padding-top: 20px;
}
#guess-like>.guess-you>.mc li{
	width: 201px;
	float: left;
	padding-bottom: 15px;
}
#guess-like>.guess-you>.mc .p-img{
	margin-bottom: 10px;
	text-align: center;
}
#guess-like .p-info{
	padding: 0 36px;
	border-left: 1px solid #e6e6e6;
}
#guess-like>.guess-you .no-border .p-info{
	border-left: none;
}
#guess-like .p-name{
	height: 36px;
	margin-bottom: 6px;
	overflow: hidden;
}
#guess-like .p-price{
	color: #b51d1a;
	font-size: 18px;
}
#guess-like .p-price i{
	font-size: 14px;
}
/*footer*/
.footer{
	height: 457px;
}
.footer #service{
	margin-bottom: 20px;
}
.footer #service .slogen{
	position: relative;
	height: 54px;
	padding: 20px 0;
	min-width: 1210px;
	margin-bottom: 14px;
	background: #f5f5f5;
	
}
.footer #service .slogen .item{
	width: 245px;
	margin: 0 70px 0 10px;
}
.footer #service dl{
	width: 199px;
	float: left;
}
.footer #service dl.fore5{
	width: 100px;
}
.footer #service dt{
	padding: 6px 0;
	font: 400 16px/24px "microsoft yahei";
}
.footer #service dd a{
	line-height: 20px;
	display: inline-block;
	width: 199px;
}
.footer #service .coverage{
	float: right;
	width: 310px;
	height: 168px;
	background: url(../img/20130330B_1.png) no-repeat 60px -131px;
}
.footer #service .coverage .dt{
	padding: 6px 40px 15px 80px;
	font: 400 16px/24px "microsoft yahei";
}
.footer #service .coverage .dd{
	padding: 0 40px 15px 80px;
}
.footer #service .coverage .dd .ar{
	text-align: right;
}
.footer-2015{
	border-top: 1px solid #e5e5e5;
	padding: 20px 0 30px;
	text-align: center;
}
.footer-2015 .links a{
	margin: 0 10px;
}
.copyright{
	margin: 10px 0;
}
.authentication a{
	margin: 0 5px;
}
/*global-toolbar*/
.global-toolbar{
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	z-index: 999;
}
.global-toolbar .global-toolbar-wrap{
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	border-right: 6px solid #7a6e6e;
	transition: right .3s ease-in-out 0s;
}
.global-toolbar .toolbar-tabs{
	position: absolute;
	top: 50%;
	left: -29px;
	width: 35px;
	margin-top: -61px;
}
.global-toolbar .toolbar-tab{
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7A6E6E;
	border-radius: 3px 0 0 3px;
}
.global-toolbar .toolbar-tab .tab-ico{
	width: 34px;
	height: 35px;
	margin-left: 1px;
	position: relative;
	z-index: 2;
	background-color: #7A6E6E;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../img/toolbar.png);	
}
.tab-cart .tab-ico{
	background-position: -50px 0;
}
.tab-follow .tab-ico{
	background-position: -50px -50px;
}
.tab-history .tab-ico{
	background-position: -50px -100px;
}
.tab-message .tab-ico{
	background-position: -190px -150px;
}
.tab-jimi .tab-ico{
	background-position: -50px -150px;
}
.jdm-toolbar-tab-top .tab-ico{
	background-position: -50px -250px;	
}
.jdm-toolbar-tab-feedback .tab-ico{
	background-position: -50px -300px;	
}
.global-toolbar .toolbar-tab .tab-text{
	width: 62px;
	height: 35px;
	line-height: 35px;
	color: white;
	text-align: center;
	font-family: "微软雅黑";
	position: absolute;
	z-index: 1;
	left: 35px;
	top: 0;
	background-color: rgb(122,110,110);
	border-radius: 3px 0 0 3px;
	transition: left 0.3s ease-in-out 0.1s;
}
.tab-message .tab-tip{
	background: url(../img/toolbar.png) -150px -150px no-repeat;
	z-index: 3;
	position: absolute;
	top: 8px;
	right: 10px;
	width: 6px;
	height: 6px;
}
.toolbar-footer{
	position: absolute;
	bottom: -1px;
	width: 100%;
	left: -29px;
}
/*elevator*/
#elevator{
	z-index: 5;
	position: fixed;
	left: 69.5px;
	top: 335px;
	/*display: block;*/
	display: none;
}
.elevator{
	width: 30px;
	overflow: hidden;
	/*display: none;*/
}
.elevator ul{
	overflow: hidden;
	background-color: rgba(255,255,255,.8);
}
.elevator li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
	margin-top: -1px;
	cursor: pointer;
}
.elevator li a{
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	color: #625351;
	font-size: 14px;
	font-family: Arial;
	background: url(../img/ele.png)0 0 no-repeat;
}
.elevator li.current a{
	display: none;
}
.elevator li.current .etitle{
	display: block;
	color: #C81623;
}
.elevator .etitle{
	display: none;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 12px;
}















